.home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    
}
.home__text-wrapper{

    display: flex;
     gap:5px;
    justify-content: space-around;
    margin-top:15px;
    
}
.home__text-wrapper > img{
    border-radius: 25% 0 25% 0;
}
#btn__contact{
    margin-left: 200px;
    cursor: pointer;
    font-size: 2rem;
    border:1px solid var(--yellow-theme-background-color);
    border-radius: 10px 0 10px 0;
    line-height: 50px;
    
    
    text-underline-offset: 9px;
    font-weight: 500;
   color:yellow;
     
    
    
}
#btn__contact:hover{
    color:#000000;
    background-color: #ffff;
}
.home__text-wrapper > h1{
color:var(--yellow-theme-main-color);
margin:0;
font-size: 4rem;
font-weight: 500;
line-height: 5rem;
position: relative;
overflow: hidden;
white-space: nowrap;
animation: typing 2.5s steps(20, infinite);

}
.btn-contact__me{
    margin-top:30px;
    
    
}

button{
    padding: 10px 60px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 10px 0 10px 0;
    background:transparent;
    font-weight: 500;
    color: var(--yellow-theme-main-color);
}
button:hover{
   color:#000000;
    background-color: var(--yellow-theme-main-color);
}

@keyframes  typing{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
    
}


@media only screen and (width>=360px)  and (max-width:640px){
    .home__text-wrapper h1{
        font-size: 2rem;
        line-height: 3rem;
        text-align:center;
        
        
        }
    #btn__contact{
        margin-left: 100px;
        background-color:#000000;
        color:var(--yellow-theme-sub-text-color);
        padding:15px;
        font-size: 20px;
        
    }
    .home__text-wrapper > img{
        margin-left: 30px;
    }
    
    .home__text-wrapper{
        flex-direction: column;
        margin-top:65px;
        margin-left: 40px;
    }
}

    

