.home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    
    
    
}
.home__text-wrapper{
     justify-content: space-around;
     display: flex;
     gap:70px;
     align-items: center;
 
}
.img > img{
    border-radius: 25% 0 25% 0;
    min-width:400px;
    min-height:400px;
    margin-left: 50px;
    
}
#btn__contact{
    margin-left: 200px;
    cursor: pointer;
    font-size: 2rem;
    border:1px solid var(--yellow-theme-background-color);
    border-radius: 10px 0 10px 0;
    line-height: 50px;
    
    
    text-underline-offset: 9px;
    font-weight: 500;
   color:yellow;
     
    
    
}
#btn__contact:hover{
    color:#000000;
    background-color: #ffff;
}
.home__text-wrapper > h1{
color:#fff;
margin:0;
font-size: 4rem;
font-weight: 500;
line-height: 5rem;
margin-top:10px;
position: relative;
text-transform: capitalize;
overflow: hidden;
white-space: nowrap;
animation: typing 2.5s steps(20, infinite);

}
.btn-contact__me{
    margin-top:30px;
    
    
}
.animate-container{

display: flex;
justify-content: center;
align-items: center;
gap:5px;

}
.static-text{
    color:white;
    font-size:60px;
    font-weight:500px;
}
.dynamic-text li{
    font-size:clamp(1.5rem, 4.5rem, 3.0rem);
    position:relative;
    list-style: none;
    font-weight:500;
    top:0;
    font-family: sans-serif;
    animation: slide 15s steps(4)infinite;
    color:var(--yellow-theme-main-color);
}
.dynamic-text li{
    position: relative;
}
 .animate-container .dynamic-text{
    
    margin-left:15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    

}
.dynamic-text li::after{
    content:'';
    width:100%;
    height: 100%;
    position:absolute; 
   
    border-left: 2px solid #ff4c29;
    animation: animate 2.5s steps(10)infinite; 
    left:0;
    background-color:var(--yellow-theme-background-color);
}
button{
    padding: 10px 60px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 10px 0 10px 0;
    background:transparent;
    font-weight: 500;
    color: var(--yellow-theme-main-color);
}
button:hover{
   color:#000000;
    background-color: var(--yellow-theme-main-color);
}

@keyframes  typing{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
    
}
@keyframes animate{
    40%, 
    60%{
        left:calc(100% + 30px)
    }
    100%{
        left:0;
    }

}

@keyframes slide{
    100% {
        top:-360px;
    }
}
@media only screen and (width>=360px)  and (max-width:760px){
    .home__text-wrapper h1{
        font-size: 2rem;
        line-height: 3rem;
        text-align:center;
        
        
        }
    #btn__contact{
        margin-left: 100px;
        background-color:#000000;
        color:var(--yellow-theme-sub-text-color);
        padding:15px;
        font-size: 20px;
        
    }
    .img > img{
        
        margin-inline:auto;
        max-width:100px;
        max-height: 200px;
    }
    
    .home__text-wrapper{
        flex-direction: column;
        
        margin-left: 40px;
    }

 .animate-container{
 height:0px;

}
}

    

